Club_Report_Output/club_update_log.png
Club_Report_Output/fanGainAnalysis_output.csv
Club_Report_Output/log_Boredom.png
Club_Report_Output/log_CashBaggins.png
Club_Report_Output/log_cinciol.png
Club_Report_Output/log_Claimses.png
Club_Report_Output/log_d.png
Club_Report_Output/log_Dill_Dough.png
Club_Report_Output/log_Epidemic.png
Club_Report_Output/log_Eunoia.png
Club_Report_Output/log_Gearras.png
Club_Report_Output/log_GhostlyInsomnia.png
Club_Report_Output/log_gumgum.png
Club_Report_Output/log_Iyy.png
Club_Report_Output/log_Keyevin.png
Club_Report_Output/log_Kino.png
Club_Report_Output/log_Magnos.png
Club_Report_Output/log_paxmix.png
Club_Report_Output/log_Pygums.png
Club_Report_Output/log_Ray.png
Club_Report_Output/log_SmillBlisser.png
Club_Report_Output/log_Smokee.png
Club_Report_Output/log_StarLight.png
Club_Report_Output/log_Top.png
Club_Report_Output/log_Walzy.png
Club_Report_Output/log_WaveofGratitude.png
Club_Report_Output/log_Yuto.png
Club_Report_Output/memberSummary_output.csv
Club_Report_Output/monthly_leaderboard.png
Club_Report_Output/member_cumulative_gain.png
Club_Report_Output/club_pacing_chart.png
Club_Report_Output/fan_contribution_by_rank.png
Club_Report_Output/log_Ermereas.png
Club_Report_Output/log_FaygoOrange.png
Club_Report_Output/log_Maslow.png
Club_Report_Output/log_Trainer#3487.png
Club_Report_Output/log_Twice.png
fonts/25318.OTF
fonts/EXPRESSWAY RG-BOLD.OTF
fonts/industryultra.OTF
Club_Report_Output/fan_performance_heatmap.png
Club_Report_Output/log_cumulative_CashBaggins.png
Club_Report_Output/log_cumulative_cinciol.png
Club_Report_Output/log_cumulative_Claimses.png
Club_Report_Output/log_cumulative_d.png
Club_Report_Output/log_cumulative_Dill_Dough.png
Club_Report_Output/log_cumulative_Epidemic.png
Club_Report_Output/log_cumulative_Ermereas.png
Club_Report_Output/log_cumulative_Eunoia.png
Club_Report_Output/log_cumulative_Gearras.png
Club_Report_Output/log_cumulative_GhostlyInsomnia.png
Club_Report_Output/log_cumulative_gumgum.png
Club_Report_Output/log_cumulative_Iyy.png
Club_Report_Output/log_cumulative_Keyevin.png
Club_Report_Output/log_cumulative_Kino.png
Club_Report_Output/log_cumulative_Maslow.png
Club_Report_Output/log_cumulative_Pygums.png
Club_Report_Output/log_cumulative_Ray.png
Club_Report_Output/log_cumulative_SmillBlisser.png
Club_Report_Output/log_cumulative_StarLight.png
Club_Report_Output/log_cumulative_Top.png
Club_Report_Output/log_cumulative_Trainer#3487.png
Club_Report_Output/log_cumulative_Twice.png
Club_Report_Output/log_cumulative_Walzy.png
Club_Report_Output/log_cumulative_WaveofGratitude.png
Club_Report_Output/log_cumulative_Yuto.png
__pycache__/analysis.cpython-311.pyc
__pycache__/guiNavigationFunctions.cpython-311.pyc
dataGet/__pycache__/guiNavigationFunctions.cpython-311.pyc
.vscode/settings.json
Club_Report_Output/log_AO.png
Club_Report_Output/log_cumulative_AO.png
Club_Report_Output/log_cumulative_Kei.png
Club_Report_Output/log_cumulative_Kurumi.png
Club_Report_Output/log_cumulative_s.png
Club_Report_Output/log_cumulative_SmillBisser.png
Club_Report_Output/log_cumulative_Wither.png
Club_Report_Output/log_Kei.png
Club_Report_Output/log_Kurumi.png
Club_Report_Output/log_s.png
Club_Report_Output/log_SmillBisser.png
Club_Report_Output/log_Wither.png
Club_Report_Output/member_performance_summary.csv
Club_Report_Output/member_performance_summary.png
dataGet/data/scan_id.csv
dataGet/data/croppedFanCounts/*
dataGet/data/rawScreenShots/*
Club_Report_Output/prestige_leaderboard.png
Club_Report_Output/individual_logs/club_update_log.png
Club_Report_Output/individual_logs/log_AO.png
Club_Report_Output/individual_logs/log_CashBaggins.png
Club_Report_Output/individual_logs/log_cinciol.png
Club_Report_Output/individual_logs/log_Claimses.png
Club_Report_Output/individual_logs/log_cumulative_AO.png
Club_Report_Output/individual_logs/log_cumulative_CashBaggins.png
Club_Report_Output/individual_logs/log_cumulative_cinciol.png
Club_Report_Output/individual_logs/log_cumulative_Claimses.png
Club_Report_Output/individual_logs/log_cumulative_d.png
Club_Report_Output/individual_logs/log_cumulative_Dill_Dough.png
Club_Report_Output/individual_logs/log_cumulative_Epidemic.png
Club_Report_Output/individual_logs/log_cumulative_Ermereas.png
Club_Report_Output/individual_logs/log_cumulative_Eunoia.png
Club_Report_Output/individual_logs/log_cumulative_Gearras.png
Club_Report_Output/individual_logs/log_cumulative_GhostlyInsomnia.png
Club_Report_Output/individual_logs/log_cumulative_gumgum.png
Club_Report_Output/individual_logs/log_cumulative_Iyy.png
Club_Report_Output/individual_logs/log_cumulative_Kei.png
Club_Report_Output/individual_logs/log_cumulative_Keyevin.png
Club_Report_Output/individual_logs/log_cumulative_Kino.png
Club_Report_Output/individual_logs/log_cumulative_Kurumi.png
Club_Report_Output/individual_logs/log_cumulative_Maslow.png
Club_Report_Output/individual_logs/log_cumulative_Pygums.png
Club_Report_Output/individual_logs/log_cumulative_Ray.png
Club_Report_Output/individual_logs/log_cumulative_s.png
Club_Report_Output/individual_logs/log_cumulative_SmillBisser.png
Club_Report_Output/individual_logs/log_cumulative_StarLight.png
Club_Report_Output/individual_logs/log_cumulative_Top.png
Club_Report_Output/individual_logs/log_cumulative_Trainer#3487.png
Club_Report_Output/individual_logs/log_cumulative_Twice.png
Club_Report_Output/individual_logs/log_cumulative_Walzy.png
Club_Report_Output/individual_logs/log_cumulative_WaveofGratitude.png
Club_Report_Output/individual_logs/log_cumulative_Wither.png
Club_Report_Output/individual_logs/log_cumulative_Yuto.png
Club_Report_Output/individual_logs/log_d.png
Club_Report_Output/individual_logs/log_Dill_Dough.png
Club_Report_Output/individual_logs/log_Epidemic.png
Club_Report_Output/individual_logs/log_Ermereas.png
Club_Report_Output/individual_logs/log_Eunoia.png
Club_Report_Output/individual_logs/log_Gearras.png
Club_Report_Output/individual_logs/log_GhostlyInsomnia.png
Club_Report_Output/individual_logs/log_gumgum.png
Club_Report_Output/individual_logs/log_Iyy.png
Club_Report_Output/individual_logs/log_Kei.png
Club_Report_Output/individual_logs/log_Keyevin.png
Club_Report_Output/individual_logs/log_Kino.png
Club_Report_Output/individual_logs/log_Kurumi.png
Club_Report_Output/individual_logs/log_Maslow.png
Club_Report_Output/individual_logs/log_Pygums.png
Club_Report_Output/individual_logs/log_Ray.png
Club_Report_Output/individual_logs/log_s.png
Club_Report_Output/individual_logs/log_SmillBisser.png
Club_Report_Output/individual_logs/log_StarLight.png
Club_Report_Output/individual_logs/log_Top.png
Club_Report_Output/individual_logs/log_Trainer#3487.png
Club_Report_Output/individual_logs/log_Twice.png
Club_Report_Output/individual_logs/log_Walzy.png
Club_Report_Output/individual_logs/log_WaveofGratitude.png
Club_Report_Output/individual_logs/log_Wither.png
Club_Report_Output/individual_logs/log_Yuto.png
